<header>
    <a routerLink="calculadora">Calculadora</a>
    <a routerLink="lista-pessoas">Lista de Pessoas</a>
    <a routerLink="calculadora-retangulo">Calculadora Retangulo</a>
    <a routerLink="calculadora-media">Calculadora Média</a>
    <a routerLink="calculadora-temperatura">Conversor Temperatur    a</a>
    <a routerLink="alunos">Alunos</a>
    <a routerLink="turma">Turmas</a>
    <a routerLink="turma/cadastro">Cadastrar Turmas</a>
    <a routerLink="materias">Listar Materias</a>
    <a routerLink="materias/cadastro">Cadastrar Matéria</a>
    <a routerLink="professores">Lista Professores</a>
    <a routerLink="professores/cadastro">Cadastrar Professores</a>
</header>