header {
    background-color: #129a80;

    a {
        padding: 10px;
        display: inline-block;
        text-decoration: none;
        color: #fff;

        &:hover {
            cursor: pointer;
            color: #0d715e;
        }
    }
}