<h2>Conversor de Temperatura</h2>

<input type="number" placeholder="Digite a temperatura para conversao" [(ngModel)]="valor">
<button (click)="calcularKParaF()">Kelvin → Fahrenheit</button>
<button (click)="calcularFParaK()">Fahrenheit → Kelvin</button>
<button (click)="calcularKParaC()">Kelvin → Celsius</button>
<button (click)="calcularCParaK()">Celsius → Kelvin</button>
<button (click)="calcularCParaF()">Fahrenheit → Celsius</button>
<button (click)="calcularFParaC()">Celsius → Fahrenheit</button>